<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="HomePage Style.css">-->

    <link rel="stylesheet" th:href="@{/css/homepage.css}"
          href="../../css/homepage.css" />

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
</head>
<body>
<th:block>


<h1>hi</h1>


</th:block>
</body>
</html>


